body {
    background-color: white;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
}

.gray-back{
    background-color: #F6F7FB;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 80%;
}

p {
    margin: 0;
}

.title h1 {
    font-size: 2.25rem;
    margin: 5rem 0 3rem;
    text-align: center;
}

.nav-row {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 4.125rem;
}

.nav-row p {
    margin: 0;
}

.nav-row__tags {
    display: flex;
}

.nav-row__tags p {
    color: #828282;
    font-size: 1rem;
}

.nav-row__tags__item {
    margin-left: 4px;
}

.nav-row__tags__item a {
    font-size: 1rem;
    color: #000;
}

.nav-row__tags__item a:hover {
    color: #8CC051;
}

.nav-row__search__form {
    display: flex;
}

.nav-row__search__form__input {
    border: 1px solid #E0E0E0;
    border-radius: 4px;
    padding: .7rem;
    background-color: transparent;
}

.nav-row__search__form__btn {
    cursor: pointer;
    border: 1px solid #8CC051;
    border-radius: 4px;
    padding: .7rem;
    background-color: transparent;
    margin-left: 1rem;
    color: #8CC051;
    font-size: 1rem;
    transition: .5s;
}

.nav-row__search__form__btn:hover {
    transition: .5s;
    color: white;
    background-color: #8CC051;
}

.nav-row__search__form__input {
    padding-left: 3rem;
    background: url(../img/search.png) no-repeat 1rem 50%
}


.list-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 10rem;
}

.list-container__item {
    display: flex;
    padding-bottom: 1rem;
    border-bottom: 1px solid #C4C4C4;
    margin-top: 1rem;
}

.list-container__item__img {
    flex: 1 1 110px;
    min-width: 110px;
    min-height: 110px;
    max-width: 110px;
    max-height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 4px;
    margin-right: 1.4rem;
}

.list-container__item__desc {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
}

.list-container__item__desc__title {
    display: flex;
    margin-bottom: .5rem;
}

.list-container__item__desc__title-author {
    font-size: .75rem;
    font-style: italic;
}

.list-container__item__desc__rate {
    display: flex;
    margin-bottom: .9rem;
}

.list-container__item__desc__more a {
    color: #333333;
    font-size: .75rem;
}

.list-container__item__desc__more a:hover {
    color: #8CC051;
}

.list-container__item__links {
    flex: 1 1 50%;
    display: flex;
    justify-content: flex-end;
}

.list-container__item__links__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1rem 0;
    border: 1px solid #BDBDBD;
    border-radius: 4px;
    text-decoration: none;
    font-size: 1rem;
}

.list-container__item__links > div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1.2rem;
    width: 50%;
}

.plugin-name {
    margin-right: 1.4rem;
    font-size: 1rem;
    color: #000;
}

.plugin-desc {
    margin-bottom: .6rem;
}

.plugin-desc p {
    font-size: .9rem;
    color: #828282;
}

.show_btn {
    color: #4F4F4F;
    display: flex;
    transition: .5s;
}

.show_btn:hover {
    background: #4F4F4F;
    color: #F2F2F2;
    border: 1px solid #4F4F4F;
    transition: .5s;
}

.show_btn:hover > .show_btn_img {
    background: url("../img/feather_external-link-white.png") no-repeat 0 50%;
}

.show_btn_img {
    padding-left: 1.5rem;
    background: url("../img/feather_external-link.png") no-repeat 0 50%;
}

.dwn_btn_img {
    padding-left: 1.5rem;
    background: url("../img/download.png") no-repeat 0 50%;
}

.dwn_btn {
    background: #8CC051;
    color: #FFFFFF;
    border: 1px solid #8CC051;
    transition: .5s;
}

.dwn_btn:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.18);
    transition: .5s;
}

/*Page 2*/
.column-container {
    display: flex;
    width: 100%;
    background-color: #FFFFFF;
    padding-bottom: 3.75rem;
    min-height: 100vh;
}

.column-left {
    padding: 0 6rem;
    margin-bottom: 3rem;
    flex: 0 0 calc(65% - 12rem);
    display: flex;
    flex-direction: column;
    border-right: 1px solid #C4C4C4;
}

.column-left__title {
    padding-top: 2rem;
    font-size: 1.75rem;
    font-weight: 600;
    color: #333333;
}

.column-left__pdf-preview {
    width: 100%;
    margin-bottom: 2.2rem;
}

.column-left__pdf-preview img {
    width: 100%;
}

.column-left__table {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid #C4C4C4;
    border-radius: 4px;
    margin-bottom: 1.4rem;
}

.column-left__table__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 2.1rem;
    border-bottom: 1px solid #C4C4C4;
}

.column-left__table__item:last-child {
    border-bottom: none;
}

.column-left__table__item-name,
.column-left__table__item-attribute {
    flex: 0 0 25%;
    font-size: 0.9rem;
}

.column-left__table__item-name {
    font-weight: 600;
}

.column-left__table__item-attribute__rate {
    display: flex;
}

.column-left .list-container__item__links > div:first-child {
    margin: 0 1.6rem 0 0;
}

.column-left .list-container__item__links > div:last-child {
    margin: 0 0 0 1.6rem;
}

.column-left__table__item-attribute__views {
    display: flex;
}

.column-left__table__item-attribute__views > p {
    margin-left: 10px;
}

.column-left__banner-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: white;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
    min-height: 200px;
    margin-top: 3.75rem;
}

.column-left__menu {
    margin: 3rem 0 3.75rem;
}

.column-left__menu-nav {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #333333;
    margin-bottom: 1.375rem;
}

.column-left__menu-nav > a {
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
    font-weight: normal;
    margin: 1rem 2rem 0 0;
}

.column-left__menu-nav > a:last-child {
    margin-right: 0;
}

.column-left__menu-nav > a.column-left__menu-item-active {
    border-bottom: 4px solid black;
    font-weight: 600;
}

.column-left__back > a {
    color: #8CC051;
}

.column-left__menu__content > p {
    color: #828282;
    font-size: 1rem;
}

.column-right {
    flex: 0 0 calc(35% - 2.4rem);
}

.column-right__container {
    margin: 2rem 3rem 0 1.2rem;
}

.column-right__container__item {
    width: 100%;
    background-color: #F6F7FB;
    padding: 1.2rem;
    margin-bottom: 1.6rem;
}

.column-right__container__item__downloads-item {
    margin-bottom: 1.5rem;
}

.downloads-count {
    display: flex;
    margin-top: .5rem;
}

.downloads-count > p,
.post-published {
    color: #828282;
    font-style: italic;
}

.downloads-count > img {
    width: 14px;
    height: 14px;
    margin-right: 10px;
}

.column-right__container__item-title {
    color: #4F4F4F;
    font-size: 1.5rem;
}

.column-right__container__item__downloads-item-name {
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
    color: #000000;
}

.column-right__container__item-list > li {
    margin-bottom: .8rem;
    font-weight: 500;
}

.column-right__container__item-list > li > a {
    text-decoration: none;
    color: black;
}

.column-right__container .column-left__back {
    margin: 3rem 0;
}

.column-left__menu__content__table {
    width: 100%;
    border: 2px solid rgb(245, 245, 245);
    border-collapse: collapse;
    margin-bottom: 4.5rem;
}

.column-left__menu__content__table > thead {
    color: rgb(89, 89, 89);
    background-color: rgb(247, 247, 247);
    padding: 1rem 0;
}

.column-left__menu__content__table > tbody {
    color: rgb(161, 166, 173);
}

.column-left__menu__content__table th,
.column-left__menu__content__table td {
    text-align: left;
    padding: 1rem .5rem;
}

.form-text {
    display: flex;
    flex-direction: column;
}

.form-text .form-title {
    font-size: 1.5rem;
    font-weight: 600;
    color: #4F4F4F;
    margin-bottom: .8rem;
}

.form-text .form-advice {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.4rem;
    font-size: .9rem;
    color: #828282;
}

.form-input-list {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.form-input-item > input,
.form-input-item > textarea {
    width: 100%;
    margin-bottom: 2rem;
    padding: .8rem;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
}

.form-input-item > textarea {
    resize: none;
}

.form-input-item-radio {
    display: flex;
    align-items: center;
}

.form-input-item-radio > input {
    margin-right: 10px;
    display: none;
}

.form-input-item-radio > label {
    font-size: 1rem;
    color: #828282;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default;
    font-weight: normal;
}

.form-input-item-radio > label:before {
    display: flex;
    align-items: center;
    justify-content: center;
    content: "";
    margin-right: 15px;
    width: 20px;
    height: 20px;
    border: 2px solid #8CC051;
    border-radius: 3px;
}

input:checked + label:before {
    content: url("../img/done.png");
}

input:disabled + label:before {
    background: #eee;
    color: #aaa;
}

.post_btn {
    margin-top: 2rem;
    padding: 1rem 3rem;
    background: #8CC051;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    transition: .5s;
}

.post_btn:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.18);
    transition: .5s;
}

/*Page 3*/
.column-left__sort-row {
    margin-bottom: 3.75rem;
}

.sort-form {
    display: flex;
    justify-content: space-between;
    font-size: 1.3rem;
    color: black;
}

.sort-form__item:last-child {
    text-align: right;
    margin-left: 10px;
}

.sort-form__item > select {
    padding: 8px 2rem 8px 8px;
    background: #F2F2F2;
    border: 1px solid #4F4F4F;
    border-radius: 3px;
    font-size: .8rem;
    color: #4F4F4F;

    margin: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
}

select.minimal {
    background-image: url("../img/select.png");
    background-position: calc(100% - 1rem) 50%;
    background-repeat: no-repeat;
}

select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}

.category-block__list-item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #C4C4C4;
    margin-bottom: 2.4rem;
}

.category-block__title {
    font-size: 1.5rem;
    color: #4F4F4F;
}

.category-block:first-child .category-block__title {
    margin-top: 1rem;
}

.category-block__title {
    margin-top: 5rem;
}

.category-block__list-item__img {
    flex: 1 1 10%;
    display: flex;
    justify-content: center;
    align-items: center;

    align-self: flex-start;

    border: 1px solid #E0E0E0;
    border-radius: 4px;
    min-width: 110px;
    min-height: 91px;
}

.category-block__list-item__content {
    flex: 1 1 90%;
    display: flex;
    flex-direction: column;
    padding: 0 1.4rem .8rem;
}

.category-block__list-item__content-rate {
    display: flex;
}

.category-block__list-item__author p {
    font-size: .8rem;
    font-weight: bold;
    color: #828282;
}

.category-block__list-item__author p span {
    font-style: italic;
    font-weight: normal;
}

.category-block__list-item__content-title {
    margin-bottom: 8px;
}

.category-block__list-item__content-rate {
    margin-bottom: 14px;
}

.category-block__list-item__content-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.6rem;
}

.category-block__list-item__content .dwn_btn {
    width: auto;
    padding: 10px 2rem;
}

.category-block__list-item__content-links .downloads-count {
    margin: 0;
}

.small-padding {
    flex: 0 0 calc(70% - 5.6rem);
    padding: 0 2.2rem 0 3.4rem;
}

.category-block__list-item__audio > audio {
    width: 100%;
    margin: 1rem 0;
}

/*Page 4*/
.column-left__category-content {
    display: flex;
    flex-direction: column;
}

.column-left__category-content-small {
    display: none;
}

.table-view-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 2rem;
    align-items: flex-start;
    border-bottom: 1px solid #C4C4C4;
}

.table-view-item .category-block__list-item__audio {
    width: 100%;
}

.table-view-item .category-block__list-item__audio > audio {
    width: 40%;
    margin: 0 0 1rem 0;
}

.post-header {
    font-weight: 600;
}

.table-view-item__title {
    flex: 0 0 45%;
    display: flex;
    flex-direction: column;
}

.table-view-item_main {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.table-view-item__title-main {
    display: flex;
    align-items: center;
}

.table-view-item__status {
    flex: 0 0 calc(15% - 1rem);
    margin-left: 1rem;
}

.table-view-item__dwn {
    flex: 0 0 calc(15% - 1rem);
    margin-left: 1rem;
}

.table-view-item__dwn .downloads-count {
    text-align: center;
    margin-top: 0;
}

.table-view-item__links {
    flex: 0 0 calc(15% - 2rem);
    margin-left: 2rem;
    padding-bottom: 1.1rem;
}

.table-view-item-header {
    display: flex;
    flex-wrap: nowrap;
    border: none;
}

.table-view-item__title .plugin-name {
    margin: 0;
    flex: 1 1 90%;
}

.table-view-item__title .category-block__list-item__img {
    width: 20%;
    min-width: 20%;
    min-height: 50px;
    margin-right: 10px;
}

.table-view-item .table-view-item__links .list-container__item__links__btn {
    margin-bottom: 10px;
    width: auto;
    padding: 6px 1rem;
}

.display-none {
    display: none;
}

.dwn_btn-small {
    border-radius: 50%;

}

.dwn_btn-small img {
    padding: 12px;
}


@media all and (max-width: 1200px) {
    body {
        font-size: 14px;
    }

    .list-container__item__links {
        flex: 1 1 22%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 1rem;;
    }

    .list-container__item__links > div {
        margin: 0;
        width: 100%;
    }

    .list-container__item__links > div:last-child {
        margin-right: 0;
        margin-top: 1rem;
    }

    .list-container__item__links__btn {
        font-size: .8rem;
        width: 100%;
    }

    .column-left .list-container__item__links > div:last-child {
        margin: 0;
    }

    .column-left .list-container__item__links > div:first-child {
        margin: 0 0 1rem;
    }

    .category-block__list-item__content-links {
        flex-wrap: wrap;
    }

    .category-block__list-item__content-links .category-block__list-item__author {
        width: 50%;
        margin-bottom: .8rem;
    }

    .category-block__list-item__content-links .downloads-count {
        width: 50%;
        margin-bottom: .8rem;
    }

    .category-block__list-item__content-links .list-container__item__links__btn {
        order: 3;
    }
}

@media all and (max-width: 1024px) {
    .column-left {
        padding: 0 1.5rem;
        flex-basis: calc(60% - 3rem);
    }

    .small-padding {
        flex: 0 0 calc(70% - 5.6rem);
        padding: 0 2.2rem 0 3.4rem;
    }

    .column-right {
        padding: 0 1.5rem;
        flex-basis: calc(40% - 3rem);
    }

    .plugin-name {
        font-size: .8rem;
    }

    .column-left__menu-nav > a {
        font-size: .8rem;
    }
}

@media all and (max-width: 880px) {
    .nav-row {
        flex-direction: column-reverse;
        align-items: flex-start;
    }

    .nav-row__search {
        width: 100%;
        margin-bottom: 2rem;
    }

    .nav-row__search__form {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .nav-row__search__form__input {
        flex: 1 1 70%;
    }

    .nav-row__search__form__btn {
        flex: 1 1 30%;
        margin: 1rem 0 0;
    }

    .list-container__item {
        flex-flow: row wrap;
    }

    .list-container__item__img {
        order: 2;
    }

    .list-container__item__desc {
        flex: 0 0 100%;
        order: 1;
        margin-bottom: 2rem;
    }

    .list-container__item__links {
        order: 3;
        flex: 0 0 auto;
        justify-content: center;
        align-items: center;
        margin: 0;
        min-width: 50%;
    }

    .list-container__item__links > div {
        margin: 0;
        width: 100%;
    }

    .title h1 {
        font-size: 1.75rem;
    }

    .column-left .list-container__item__links {
        order: initial;
    }

    .column-left .list-container__item__links > div {
        order: initial;
        margin: 0;
    }

    .column-container {
        flex-direction: column;
    }

    .column-left {
        padding: 0 1.5rem;
        width: calc(100% - 3rem);
        border: none;
    }

    .column-right {
        padding: 0 1.5rem;
        width: calc(100% - 3rem);
    }

    .column-right__container {
        width: 100%;
        margin: 0;
    }

    .column-right__container__item {
        width: calc(100% - 2.4rem);
    }

    .category-block__list-item__content-links .category-block__list-item__author {
        width: auto;
        margin-bottom: 0;
    }

    .category-block__list-item__content-links .downloads-count {
        width: auto;
        margin-bottom: 0;
    }

    .category-block__list-item__content-links .list-container__item__links__btn {
        order: initial;
    }

    .table-view-item__title {
        flex-direction: column;
        width: 90%;
        margin-bottom: 1rem;
    }

    .table-view-item__title-main {
        flex-direction: column;
        align-items: flex-start;
    }

    .table-view-item__title .category-block__list-item__img {
        margin-bottom: 10px;
        min-width: 60px;
    }

}

@media all and (max-width: 560px) {
    .category-block__list-item {
        flex-direction: column;
    }

    .category-block__list-item__content {
        padding: 10px;
    }

    .table-view-item .category-block__list-item__audio > audio {
        width: 100%;
    }
}

@media all and (max-width: 460px) {
    .category-block__list-item__content-links {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 10px;
    }

    .category-block__list-item__content-links .category-block__list-item__author,
    .category-block__list-item__content-links .downloads-count {
        width: 100%;
        margin-bottom: 10px;
    }

    .category-block__list-item__content-links .list-container__item__links__btn {
        order: 3;
    }

    .sort-form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .sort-form__item:last-child {
        margin: 1rem 0 0;
    }

    .table-view-item .table-view-item__title,
    .table-view-item .table-view-item__status,
    .table-view-item .table-view-item__dwn,
    .table-view-item .table-view-item__links {
        margin-left: 10px;
        font-size: .8rem;
    }
}

@media all and (max-width: 380px) {
    body {
        font-size: 12px;
    }

    .list-container__item__links__btn {
        font-size: .7rem;
    }

    .list-container__item__img {
        margin-right: 8px;
    }

    .column-left__table__item {
        padding: 1.4rem 1rem;
    }

    .form-input-list {
        width: 90%;
    }
}