body {
    background-color: #F6F7FB;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 80%;
}

p {
    margin: 0;
}

.title h1 {
    font-size: 2.25rem;
    margin: 5rem 0 3rem;
    text-align: center;
}

.nav-row {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 4.125rem;
}

.nav-row p {
    margin: 0;
}

.nav-row__tags {
    display: flex;
}

.nav-row__tags p {
    color: #828282;
    font-size: 1rem;
}

.nav-row__tags__item {
    margin-left: 4px;
}

.nav-row__tags__item a {
    font-size: 1rem;
    color: #000;
}

.list-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 10rem;
}

.nav-row__search__form {
    display: flex;
}

.nav-row__search__form__input {
    border: 1px solid #E0E0E0;
    border-radius: 4px;
    padding: .7rem;
    background-color: transparent;
}

.nav-row__search__form__btn {
    cursor: pointer;
    border: 1px solid #8CC051;
    border-radius: 4px;
    padding: .7rem;
    background-color: transparent;
    margin-left: 1rem;
    color: #8CC051;
    font-size: 1rem;
}

.nav-row__search__form__input {
    padding-left: 3rem;
    background: url(../img/search.png) no-repeat 1rem 50%
}

.list-container__item {
    display: flex;
    padding-bottom: 1rem;
    border-bottom: 1px solid #C4C4C4;
    margin-top: 1rem;
}

.list-container__item__img {
    flex: 1 1 110px;
    min-width: 110px;
    min-height: 110px;
    max-width: 110px;
    max-height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 4px;
    margin-right: 1.4rem;
}

.list-container__item__desc {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
}

.list-container__item__desc__title {
    display: flex;
    margin-bottom: .5rem;
}

.list-container__item__desc__title-name {
    margin-right: 1.4rem;
    font-size: 1rem;
    color: #000;
}

.list-container__item__desc__title-author {
    font-size: .75rem;
    font-style: italic;
}

.list-container__item__desc__rate {
    display: flex;
    margin-bottom: .9rem;
}

.list-container__item__desc__info {
    margin-bottom: .6rem;
}

.list-container__item__desc__info p {
    font-size: .9rem;
    color: #828282;
}

.list-container__item__desc__more a {
    color: #333333;
    font-size: .75rem;
}

.list-container__item__desc__more a:hover {
    color: #8CC051;
}

.list-container__item__links {
    flex: 1 1 50%;
    display: flex;
    justify-content: flex-end;
}

.list-container__item__links__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1rem 0;
    border: 1px solid #BDBDBD;
    border-radius: 4px;
    text-decoration: none;
    font-size: 1rem;
}

.list-container__item__links > div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1.2rem;
    width: 50%;
}

.show_btn {
    color: #4F4F4F;
    display: flex;
}

.show_btn:hover {
    background: #4F4F4F;
    color: #F2F2F2;
    border: none;
}

.show_btn:hover > .show_btn_img {
    background: url("../img/feather_external-link-white.png") no-repeat 0 50%;
}

.show_btn_img {
    padding-left: 1.5rem;
    background: url("../img/feather_external-link.png") no-repeat 0 50%;
}

.dwn_btn_img {
    padding-left: 1.5rem;
    background: url("../img/download.png") no-repeat 0 50%;
}

.dwn_btn {
    background: #8CC051;
    color: #FFFFFF;
}

.dwn_btn:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.18);
    border: none;
}

/*Page 2*/
.column-container {
    display: flex;
    width: 100%;
    background-color: #FFFFFF;
    padding-bottom: 3.75rem;
}

.column-left {
    padding: 0 6rem;
    margin-bottom: 3rem;
    flex: 0 0 calc(60% - 12rem);
    display: flex;
    flex-direction: column;

    border-right: 1px solid #C4C4C4;
}

.column-left__title {
    padding-top: 2rem;
    font-size: 1.75rem;
    font-weight: 600;
    color: #333333;
}

.column-left__pdf-preview {
    width: 100%;
    margin-bottom: 2.2rem;
}

.column-left__pdf-preview img {
    width: 100%;
}

.column-left__table {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid #C4C4C4;
    border-radius: 4px;
    margin-bottom: 1.4rem;
}

.column-left__table__item {
    display: flex;
    justify-content: space-between;
    padding: 1.4rem 2.1rem;
    border-bottom: 1px solid #C4C4C4;
}

.column-left__table__item-name,
.column-left__table__item-attribute {
    flex: 0 0 25%;
    font-size: 0.9rem;
}

.column-left__table__item-name {
    font-weight: 600;
}

.column-left__table__item-attribute__rate {
    display: flex;
}

.column-left .list-container__item__links > div:first-child {
    margin: 0 1.6rem 0 0;
}

.column-left .list-container__item__links > div:last-child {
    margin: 0 0 0 1.6rem;
}

.column-left__table__item-attribute__views {
    display: flex;
}

.column-left__table__item-attribute__views > p {
    margin-left: 10px;
}

.column-left__banner-img {
    margin-top: 3.75rem;
}

.column-left__banner-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: white;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
    height: 200px;
}

.column-left__menu {
    margin: 3rem 0 3.75rem;
}

.column-left__menu-nav {
    display: flex;
    border-bottom: 1px solid #333333;
    margin-bottom: 1.375rem;
}

.column-left__menu-nav > a {
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
    font-weight: normal;
    margin-right: 2rem;
}

.column-left__menu-nav > a:last-child {
    margin-right: 0;
}

.column-left__menu-nav > a.column-left__menu-item-active {
    border-bottom: 4px solid black;
    font-weight: 600;
}

.column-left__back > a {
    color: #8CC051;
}

.column-left__menu__content > p {
    color: #828282;
    font-size: 1rem;
}

.column-right {
    flex: 0 0 calc(40% - 2.4rem);
}

.column-right__container {
    margin: 2rem 3rem 0 1.2rem;
}

.column-right__container__item {
    width: 100%;
    background-color: #F6F7FB;
    padding: 1.2rem;
    margin-bottom: 1.6rem;
}

.column-right__container__item__downloads-item {
    margin-bottom: 1.5rem;
}

.column-right__container__item__downloads-item-count {
    display: flex;
}

.column-right__container__item__downloads-item-count > p {
    color: #828282;
    font-style: italic;
}

.column-right__container__item__downloads-item-count > img {
    margin-right: 10px;
}

.column-right__container__item-title {
    color: #4F4F4F;
    font-size: 1.5rem;
}

.column-right__container__item__downloads-item-name {
    margin: 0 0 .5rem;
    font-size: 1rem;
    color: #000000;
}

.column-right__container__item-list > li {
    margin-bottom: .8rem;
    font-weight: 500;
}

.column-right__container .column-left__back {
    margin: 3rem 0;
}

@media all and (max-width: 1200px) {
    body {
        font-size: 14px;
    }

    .list-container__item__links {
        flex: 1 1 22%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 1rem;;
    }

    .list-container__item__links > div {
        margin: 0;
        width: 100%;
    }

    .list-container__item__links > div:last-child {
        margin-right: 0;
        margin-top: 1rem;
    }

    .list-container__item__links__btn {
        font-size: .8rem;
        width: 100%;
    }
}

@media all and (max-width: 800px) {
    .nav-row {
        flex-direction: column-reverse;
        align-items: flex-start;
    }

    .nav-row__search {
        width: 100%;
        margin-bottom: 2rem;
    }

    .nav-row__search__form {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .nav-row__search__form__input {
        flex: 1 1 70%;
    }

    .nav-row__search__form__btn {
        flex: 1 1 30%;
        margin: 1rem 0 0;
    }

    .list-container__item {
        flex-flow: row wrap;
    }

    .list-container__item__img {
        order: 2;
    }

    .list-container__item__desc {
        flex: 0 0 100%;
        order: 1;
        margin-bottom: 2rem;
    }

    .list-container__item__links {
        order: 3;
        flex: 0 0 auto;
        justify-content: center;
        align-items: center;
        margin: 0;
        min-width: 50%;
    }

    .list-container__item__links > div {
        margin: 0;
        width: 100%;
    }

    .title h1 {
        font-size: 1.75rem;
    }

    .column-left .list-container__item__links {
        order: initial;
    }

    .column-left .list-container__item__links > div {
        order: initial;
        margin: 0;
    }

    .column-left .list-container__item__links > div:last-child {
        margin: 0;
    }

    .column-left .list-container__item__links > div:first-child {
        margin: 0 0 1rem;
    }

    .column-container{
        flex-direction: column;
    }

    .column-left{
        padding: 0 1.5rem;
        width: calc(100% - 3rem);
        border: none;
    }

    .column-right{
        padding: 0 1.5rem;
        width: calc(100% - 3rem);
    }

    .column-right__container {
        width: 100%;
        margin: 0;
    }

    .column-right__container__item{
        width: calc(100% - 2.4rem);
    }
}

@media all and (max-width: 380px) {
    body {
        font-size: 12px;
    }

    .list-container__item__links__btn {
        font-size: .7rem;
    }

    .list-container__item__img {
        margin-right: 8px;
    }

    .column-left__table__item{
        padding: 1.4rem 1rem;
    }
}