body{
    background-color: #F6F7FB;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 80%;

    font-size: 16px;
    font-family: "Montserrat", sans-serif;
}

p{
    margin: 0;
}

.title h1{
    font-size: 2.25rem;
    margin: 5rem 0 3rem;
}

.nav-row{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 4.125rem;
}

.nav-row p{
    margin: 0;
}

.nav-row__tags{
    display: flex;
}

.nav-row__tags__item{
 margin-left: 4px;
}

.list-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 10rem;
}

.nav-row__search__form{
    display: flex;
}

.nav-row__search__form__input{
    border: 1px solid #E0E0E0;
    border-radius: 4px;
    padding: .7rem;
    background-color: transparent;
}

.nav-row__search__form__btn{
    border: 1px solid #8CC051;
    border-radius: 4px;
    padding: .7rem;
    background-color: transparent;
    margin-left: 1rem;
}

.nav-row__search__form__input{
    padding-left: 10%;
    background: url(../img/search.png) no-repeat 5% 50%
}

.list-container__item{
    display: flex;
    padding-bottom: 1rem;
    border-bottom: 2px solid #C4C4C4;
}

.list-container__item__img{
    flex: 1 1 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 4px;
    margin-right: 1.4rem;
}

.list-container__item__desc{
    flex: 1 1 60%;
    display: flex;
    flex-direction: column;
}

.list-container__item__desc__title{
    display: flex;
    margin-bottom: .5rem;
}

.list-container__item__desc__title-name{
    margin-right: 1.4rem;
}

.list-container__item__desc__rate{
    display: flex;
    margin-bottom: .9rem;
}

.list-container__item__desc__info{
    margin-bottom: .6rem;
}

.list-container__item__links{
    flex: 1 1 35%;
    display: flex;
    justify-content: flex-end;
}

.list-container__item__links__btn{
    display: flex;
    align-items: center;
    padding: .6rem 1.4rem;
    border: 1px solid #BDBDBD;
    border-radius: 4px;
    text-decoration: none;
}

.list-container__item__links__btn div img{
    margin-right: 6px;
}

.list-container__item__links div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1.2rem;
}

.list-container__item__links div:last-child{
    margin-right: 0;
}

.green{
 background-color: #8CC051;
}